@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================= BASE (GLOBAL TAGS) ================= */
@layer base {
    body {
        overflow-x: clip;
    }
}

/* ================= COMPONENTS ================= */
@layer components {
    .section-container {
        max-width: 1340px;
        margin: 0 auto;
    }
    @media (min-width: 651px) {
        .section-container {
            padding: 0 32px;
        }
    }

    .stat-card {
        max-width: 320px;
        padding: 24px;
        border: 1px solid #e5e5e5;
        border-radius: 16px;
        text-align: center;
        font-family: serif;
    }

    .donut {
        position: relative;
        width: 180px;
        height: 180px;
        margin: 0 auto 24px;
    }

    .donut svg {
        width: 100%;
        height: 100%;
        transform: rotate(-90deg);
    }

    .bg {
        stroke: #dcdcdc;
    }

    .progress {
        stroke: #22a97a;
        stroke-linecap: round;
        stroke-dasharray: 314;
        stroke-dashoffset: 314;
        transition: stroke-dashoffset 1s ease;
    }

    .center-text {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 36px;
        font-weight: 600;
        color: #000;
    }

    .desc {
        font-size: 20px;
        margin-bottom: 12px;
    }

    .as-seen {
        background: #f6f1e4;
        padding: 20px 0;
        text-align: center;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .full-bleed {
        width: 100vw;
        max-width: 100vw;
        position: relative;

        /* BREAK OUT OF PARENT */
        left: 50%;
        transform: translateX(-50%);
    }

    .as-seen h3 {
        font-family: serif;
        font-size: 28px;
    }

    .marquee {
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    .marquee-track {
        display: flex;
        gap: 80px;
        width: max-content;
        animation: scroll 25s linear infinite;
    }

    .marquee-track img {
        height: 30px;
        width: auto;
        opacity: 0.9;
        filter: grayscale(100%);
    }

    @media (max-width: 899px) {
        .marquee-track img {
            height: 20px;
        }
    }

    .jdgm-star::before {
        content: "\e002";
        font-family: "JudgemeStar";
        font-size: 16px;
        color: #f5a623;
        display: inline-block;
    }

}

/* ================= BASE (GLOBAL TAGS) ================= */
@layer base {
    * {
        color: #212121
    }

    body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }

    a {
        font-family: 'Montserrat', sans-serif;
    }

    p,
    li,
    span,
    button {
        font-family: 'Nunito';
    }

    h1,
    h2 {
        font-family: 'Lora';
    }

    h4 {
        font-family: 'Trirong';
        font-size: 20px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 32px;
    }

    p,
    li,
    button {
        font-size: 18px;
    }

    a {
        font-size: 16px;
    }

    h2 span {
        font-family: 'Lora';
    }


    circle {
        fill: none;
        stroke-width: 12;
    }

    small {
        color: #666;
    }

    .ul-success li {
        color: #0c7c00;
        list-style: none;
        padding-left: 0;
        font-weight: 600;
    }

    .ul-danger li {
        color: #a60003;
        list-style: none;
        padding-left: 0;
        font-weight: 600;
    }

    /* SUCCESS ICON */
    .ul-success li {
        display: flex;
        align-items: flex-start;
        gap: 8px;
    }

    .ul-success li::before {
        content: "";
        width: 16px;
        height: 16px;
        flex-shrink: 0;
        margin-top: 4px;
        background: url("https://trysculptique.com/cdn/shop/files/check-mark_17013456_2_1.png?v=1760702838") no-repeat center / contain;
    }

    /* DANGER ICON */
    .ul-danger li {
        display: flex;
        align-items: flex-start;
        gap: 8px;
    }

    .ul-danger li::before {
        content: "";
        width: 16px;
        height: 16px;
        flex-shrink: 0;
        margin-top: 4px;
        background: url("https://trysculptique.com/cdn/shop/files/Vector_7.png?v=1760702839") no-repeat center / contain;
    }
}

/* ================= UTILITIES / ANIMATIONS ================= */
@layer utilities {
    @keyframes scroll {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-50%);
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: scale(0.96);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    .animate-fadeIn {
        animation: fadeIn 0.2s ease-out;
    }
}